.business-home {
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
  background: #f5f7fa;
  color: #5e5d5d;
  margin-left: 250px; /* offsets for sidebar */
  min-height: 100vh;
  box-sizing: border-box;
  margin-top: 60px;
}

.hero-section {
  text-align: center;
  padding: 80px 20px 60px;
  background: #003366;
  color: rgb(242, 236, 236);
  border-radius: 8px;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  justify-content: center;
  color: #f5f7fa;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #f5f7fa;
}

.cta-buttons button {
  background-color: #ffaa00;
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.features-section {
  padding: 40px 20px;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.feature-card {
  background: white;
  padding: 20px;
  margin: 10px;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature-card h3 {
  color: #003366;
}
