/* General container for both CreateUser and UserUpdate */
.create-user-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.create-user-form {
  display: flex;
  flex-direction: column;
}

.create-user-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.form-group input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-group input:disabled {
  background-color: #f2f2f2;
  color: #888;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button[type="submit"] {
  background-color: #0b3665;
  color: white;
}

.button-group button[type="submit"]:hover {
  background-color: #124071;
}

.button-group button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.button-group button[type="button"]:hover {
  background-color: #5a6268;
}

.input-label {
  margin-bottom: 12px;
}

.input-label input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-label input:focus {
  outline: none;
  border-color: #0d3055;
}
