.invoice-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  margin-top: 60px;
}

.invoice-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: 500;
  font-size: 14px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 90%;
  box-sizing: border-box;
}

input[readonly] {
  background-color: #e9e9e9;
}

.radio-group {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

table th {
  background-color: #f0f0f0;
}

.add-btn {
  background-color: #28a745;
  color: white;
  border: none;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #218838;
}

.submit-btn {
  padding: 8px 12px;
  background-color: #1a395b;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #1f3c5b;
}
